<p>
  <b>Gift:</b>
  <%=h @thank_yous.gift %>
</p>

<p>
  <b>Note:</b>
  <%=h @thank_yous.note %>
</p>


<%= link_to 'Edit', edit_thank_yous_path(@thank_yous) %> |
<%= link_to 'Back', thank_yous_path %>