/************************************************/
/*												*/
/*		CSS Document							*/
/*		Original Design by Adam Farnsworth		*/
/*		info@adamfarnsworth.com					*/
/*		08/06/2009								*/
/*		© Adam Farnsworth						*/
/*												*/
/************************************************/

/************************************************/
/*		Theivery Manifesto						*/
/************************************************/
/*												*/
/*		Honestly, don't steal this design,		*/
/*		just do your own. It's really kind		*/
/*		of lame to have to be so unoriginal		*/
/*		that you just go to a site you think	*/
/*		is cool, change a few colors and		*/
/*		call it your own. It's dumb,			*/
/*		don't do it.							*/
/*												*/
/************************************************/


/********************************/
/*		Mass Styles				*/
/********************************/
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, dd, dt, table, td, th, tr, form, div, img { margin: 0; padding: 0; }


/********************************/
/*		Layout Styles			*/
/********************************/
body { background-color: #222; text-align: center; margin: 0px auto; font-family: Georgia, serif; color: #222; }
#flash { background: #F2F5E6; width: 944px; margin: 0 auto; padding: 10px 50px 10px 50px; color: #222; }
#container { background: url(/images/bg-body.jpg) top center repeat-x #F2F5E6; width: 1024px; margin: 0 auto; text-align: left; }
#header { height: 110px; }
#content { margin: 0px 40px 10px 100px; padding-bottom: 20px; border-left: #222 solid 2px; border-bottom: #222 solid 2px; border-right: #222 solid 2px; }
#main { padding: 20px; }
#footer { height: 100px; }
#admin-nav { width: 1024px; background-color: #222; margin: 0; }
.admin-manage-guest-box { padding: 5px; margin: 0px 5px 10px 5px; border: #222 solid 1px; }


/********************************/
/*		Text Styles				*/
/********************************/
h1 { font-size: 36px; line-height: 36px;}
h2 { font-size: 28px; line-height: 28px; }
h3 { font-size: 12px; font-weight: bold; padding-top: 10px; }
h4 { font-size: 12px; font-weight: normal; }
h5 {  }
h6 { font-size: 8px; padding: 5px; text-transform: uppercase; text-align: right; }
p { font-size: 12px; line-height: 18px; margin: 0 10px 10px 10px; }
quote { background: #DBDED0; font-size: 12px; line-height: 18px; font-style: italic; margin: 0 50px; padding: 5px; }


/********************************/
/*		Generic Text Styles		*/
/********************************/
.bold { font-weight: bold; }
.fancy { font-family: Georgia, "Times New Roman", Times, serif; font-style: italic; font-weight: normal; }
.small { font-size: 12px; }


/********************************/
/*		Paragraph Styles		*/
/********************************/
.center { text-align: center; }
.justified { text-align: justify; }
.left { text-align: left; }
.right { text-align: right; }

/********************************/
/*		List Styles				*/
/********************************/
ul {  }
li {  }
#admin-nav ul { list-style: none; padding: 0; margin: 0; }
#admin-nav li { float: left; margin: 0; }
#admin-nav li a { background: #222; height: 2em; line-height: 2em; float: left; width: 200px; display: block; color: #F2F5E6; text-decoration: none; text-align: center; }
#admin-nav li a:hover { background: #F2F5E6; color: #222; }
/* Hide from IE5-Mac \*/
	#admin-nav li a { float: none; }
/* End hide */
ul.address { list-style: none; padding: 0; margin: 0; }
ul.address li { font-size: 12px; }


/********************************/
/*		Link Styles				*/
/********************************/
a { text-decoration: none; color: #333; }
a:hover {  }
p a {  }


/****************************************/
/*		Form Styles						*/
/****************************************/
form { margin-top: 1em; }
fieldset { margin-bottom: 1em; border: 1px dotted #333; border-width: 0 0 1px; }
.row { display: block; }

/****************************************/
/*		Table Styles					*/
/****************************************/
.table_title {  }
.table_01 {  }
.table_02 { background-color: #222; }
.table_date { width: 100px; padding: 5px; }
.table_time { padding: 5px; }
.table_info { padding: 5px; }
.table_location { width: 140px; padding: 5px; }


/********************************/
/*		Image Styles			*/
/********************************/
img { margin: 0px; border: none; }
.img_center { text-align: center; }


/********************************/
/*		Misc Styles				*/
/********************************/
.clear { clear: both; }
.column { float: left; margin-right: 1em; }
