/************************************************/
/*												*/
/*		CSS Document							*/
/*		Original Design by Adam Farnsworth		*/
/*		info@adamfarnsworth.com					*/
/*		08/06/2009								*/
/*		© Adam Farnsworth						*/
/*												*/
/************************************************/

/************************************************/
/*		Theivery Manifesto						*/
/************************************************/
/*												*/
/*		Honestly, don't steal this design,		*/
/*		just do your own. It's really kind		*/
/*		of lame to have to be so unoriginal		*/
/*		that you just go to a site you think	*/
/*		is cool, change a few colors and		*/
/*		call it your own. It's dumb,			*/
/*		don't do it.							*/
/*												*/
/************************************************/


/********************************/
/*		Mass Styles				*/
/********************************/
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, dd, dt, table, td, th, tr, form, div, img { margin: 0; padding: 0; }


/********************************/
/*		Layout Styles			*/
/********************************/
body { background-color: #222; text-align: center; margin: 0px auto; font-family: Georgia, serif; color: #222; }
#flash { background: #F2F5E6; width: 944px; margin: 0 auto; padding: 10px 50px 10px 50px; color: #222; }
#container { background: url(/images/bg-body.jpg) top center repeat-x #F2F5E6; width: 1024px; margin: 0 auto; text-align: left; }
#header { height: 110px; background: url(/images/bg-header.png) no-repeat top center; }
#content { margin: 0px 40px 10px 100px; border-left: #222 solid 2px; border-bottom: #222 solid 2px; border-right: #222 solid 2px; }
#main { padding: 20px; }
#footer { padding: 20px 50px; }
#logout { margin: 5px; padding: 5px; float: right; }
#admin-nav { width: 1024px; background-color: #222; margin: 0; }
.admin-manage-guest-box { padding: 0 5px 5px 5px; margin: 0px 5px 10px 5px; border: #222 solid 1px; }
.admin-manage-guest-pin { float: right; background: #222; margin: 10px 5px 5px 5px; padding: 5px; }
#admin-actions { margin: 10px; }
.group { margin: 10px 0px; }
.registered-by-admin { background: url(/images/bg-created-by-admin.png) top right no-repeat; }


/********************************/
/*		Text Styles				*/
/********************************/
h1 { font-size: 36px; line-height: 36px; margin-left: 10px; }
h2 { font-size: 28px; line-height: 28px; margin-left: 10px; }
h3 { font-size: 14px; font-weight: bold; padding-top: 10px; margin-left: 10px; }
h4 { font-family: Helvetica, sans-serif; font-size: 28px; font-weight: bold; color: #F2F5E6; }
h5 {  }
h6 { font-size: 8px; padding: 5px; text-transform: uppercase; text-align: right; }
p { font-size: 14px; line-height: 18px; margin: 0 10px 10px 10px; }
quote { background: #DBDED0; font-size: 14px; line-height: 18px; font-style: italic; margin: 0 50px; padding: 5px; }
.status { padding: 5px; margin: 5px; border: #AAA solid 1px; background: #DBDED0; }


/********************************/
/*		Generic Styles			*/
/********************************/
.bold { font-weight: bold; }
.fancy { font-family: Georgia, "Times New Roman", Times, serif; font-style: italic; font-weight: normal; }
.small { font-size: 14px; }
.emphasis { font-style: italic; background: #DBDED0; padding: 2px; }
.float_left { float: left; padding: 5px; }
.float_right { float: right; padding: 5px; }


/********************************/
/*		Paragraph Styles		*/
/********************************/
.center { text-align: center; }
.justified { text-align: justify; }
.left { text-align: left; }
.right { text-align: right; }

/********************************/
/*		List Styles				*/
/********************************/
ul {  }
li {  }
#admin-nav ul { list-style: none; padding: 0; margin: 0; }
#admin-nav li { float: left; margin: 0; }
#admin-nav li a { background: #222; height: 2em; line-height: 2em; float: left; width: 256px; display: block; color: #F2F5E6; text-decoration: none; text-align: center; }
#admin-nav li a:hover { background: #F2F5E6; color: #222; }
/* Hide from IE5-Mac \*/
	#admin-nav li a { float: none; }
/* End hide */
ul.address { list-style: none; padding: 0; margin: 0 0 0 10px; }
ul.address li { font-size: 14px; }
ul.column { list-style: none; padding: 5px; margin: 5px; background: #DBDED0; }


/********************************/
/*		Link Styles				*/
/********************************/
a { text-decoration: none; color: #A12B2B; }
a:hover { background-color: #A12B2B; color: #F2F5E6; }
p a {  }


/****************************************/
/*		Form Styles						*/
/****************************************/
form { margin-top: 1em; }
fieldset { margin: 0 20px 10px 20px; }
.text_field_pin { font-size: 65px; color: #222; padding: 5px; }
.text_field_verify { font-size: 65px; color: #222; padding: 5px; }
.form_submit, .update_link { padding: 5px; background: #A12B2B; color: #F2F5E6; font-size: 36px; font-weight: bold; }
.update_link { border: 2px outset #CCC; }
.update_link:active { border: 2px inset #CCC; }


/****************************************/
/*		Table Styles					*/
/****************************************/
.table_title {  }
.table_01 {  }
.table_02 { background-color: #222; }
.table_date { width: 100px; padding: 5px; }
.table_time { padding: 5px; }
.table_info { padding: 5px; }
.table_location { width: 140px; padding: 5px; }


/********************************/
/*		Image Styles			*/
/********************************/
img { margin: 0px; border: none; }
.img_center { text-align: center; }


/********************************/
/*		Misc Styles				*/
/********************************/
.clear { clear: both; }
.column { float: left; margin-right: 1em; }


/*************************
* RSVP Management Styles *
*************************/
.no-rsvp { background-color: #ECEB99; }
.rsvp-attending { background-color: #C7EC99; }
.rsvp-not-attending { background-color: #EC9B99; }
.admin-manage-rsvp-box { padding: 2px; }